<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Careers</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l">Careers</li>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="section">
	<div class="container">    

		<h3 class="prod_head roboto-l">Why Us</h3>
		<div class="divider"></div>
		<br />
		<p class="roboto-l prod_head_desc">We pride ourselves as being part of one of the globally largest growing organization in Agriculture & Industrial Packaging Supplier sector and have the best employment practices at work which inspire employees to come up with an innovative approach towards work. We want expertise, we want passion and we are looking for people that can bring a fresh and innovative approach. To become a valuable part of this growing organisation send us your updated resume on <a href="mailto:hr@irisgroup.co.in">hr@irisgroup.co.in</a><br />   With Iris Polymers you will grow along with the company & that’s our promise to you.  </p>
		<hr />

		<h3 class="prod_head roboto-l">Company Environment</h3>
		<div class="divider"></div>
		<br />
		<p class="roboto-l prod_head_desc">We are committed to a long-term sustainable approach to caring for and safeguarding the 
environment. Specifically, "sustainability" means that we constantly endeavor to balance 
environmental considerations and social responsibility with our business goals. As a result, we strive 
to evolve and implement our Corporate Environmental Policy – in addition to complying with 
environmental laws and regulations. Over the long-run, only a sustainable approach will benefit the 
consumers, customers, shareholders, associates and communities we serve by both meeting our 
business goals and protecting and improving the quality of the environment in which we all live. </p>

		<hr />

		<h3 class="prod_head roboto-l">Current Openings</h3>
		<div class="divider"></div>
		<br />
		<div class="index-accordion roboto">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading1">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" class="gotham" aria-controls="collapse1">
							<h4 class="panel-title" style="position:relative">
								<i class="more-less fa fa-minus"></i>
								Business Development Executive  / Sales Executive
							</h4>
						</a>
					</div>
					<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
						<div class="panel-body gotham antimony_desc">
							<h5 class="gotham-m">Job Description</h5>
								<div class="master_li">
									<ul  style="list-style-type: disc;margin-left: -20px;">
										<li>Generating new business opportunities and increasing sales across the country.</li>
										<li>Market Research/ Data profiling/ marketing inquiries for new growth opportunities.</li>
										<li>Responsible for dealing and handling with Premium clients.</li>
										<li>Increase client base and get revenue from existing and new clients.</li>
										<li>Product selection and follow up with clients.</li>
										<li>Enhance customer and end-user experience, both online and offline.</li>
										<li>100% usage of ACT (CRM) to enter daily activities and more importantly sales opportunity information.</li>
										<li>Customer Relationship building & retention.</li>
										<li>Ensure timely payments from clients.</li>
									</ul>
								</div>
							<hr>
							<h5 class="gotham-m">Experience required</h5>
							<div class="master_li">
								<ul  style="list-style-type: disc;margin-left: -20px;">
									<li>Should have min 6month of sales experience on field.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading2">
						<a class="collapsed gotham" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="" aria-expanded="false" aria-controls="collapse2">
							<h4 class="panel-title">
								<i class="more-less fa fa-plus"></i>
								Area Sales Manager 
							</h4>
						</a>
					</div>
					<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body gotham antimony_desc">
							
							<h5 class="gotham-m">Job Description</h5>
								<div class="master_li">
									<ul  style="list-style-type: disc;margin-left: -20px;">
										<li>Maintaining and increasing sales of company's products.</li>
										<li>Develop sales and marketing strategies to drive sales growth in the assigned area.</li>
										<li>Reaching the targets and goals set for you.</li>
										<li>Establishing, maintaining and expanding your customer base.</li>
										<li>Servicing the needs of your existing customers.</li>
										<li>Maintain relationship with existing customers for repeat business.</li>
										<li>Increasing business opportunities through various routes to market.</li>
										<li>Developing sales strategies and setting targets.</li>
										<li>Compiling and analysing sales figures.</li>
									</ul>
								</div>
							<hr>
							<h5 class="gotham-m">Experience required</h5>
							<div class="master_li">
								<ul  style="list-style-type: disc;margin-left: -20px;">
									<li>4 years in Agriculture Sector</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading3">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" class="gotham" aria-controls="collapse3">
							<h4 class="panel-title" style="position:relative">
								<i class="more-less fa fa-plus"></i>
								International Sales Executive ( International Business Development ) 
							</h4>
						</a>
					</div>
					<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
						<div class="panel-body gotham antimony_desc">
							<h5 class="gotham-m">Job Description</h5>
								<div class="master_li">
									<ul  style="list-style-type: disc;margin-left: -20px;">
										<li>Should have good marketing skill.</li>
										<li>Should be able to communicate with clients from USA, Canada and Europe.</li>
									</ul>
								</div>
							<hr>
							<h5 class="gotham-m">Experience required</h5>
							<div class="master_li">
								<ul  style="list-style-type: disc;margin-left: -20px;">
									<li>Minimum 2 years relevant experience </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading4">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" class="gotham" aria-controls="collapse4">
							<h4 class="panel-title" style="position:relative">
								<i class="more-less fa fa-plus"></i>
								Export Sales Manager 
							</h4>
						</a>
					</div>
					<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
						<div class="panel-body gotham antimony_desc">
							<h5 class="gotham-m">Job Description</h5>
								<div class="master_li">
									<ul  style="list-style-type: disc;margin-left: -20px;">
										<li>Formulate the sales strategies to increase the sales volume in international market.</li>
										<li>Developing sourcing countries partners.</li>
										<li> Identifying new business opportunities by tapping the potential customers from different countries.</li>
										<li>Knowledge of the details of the export business.</li>
										<li>Understanding diverse range of Agri Products.</li>
										<li> Map international Market.</li>
										<li>To take initiative and efforts to develop constructive and effective solutions to any issues</li>
									</ul>
								</div>
							<hr>
							<h5 class="gotham-m">Experience required</h5>
							<div class="master_li">
								<ul  style="list-style-type: disc;margin-left: -20px;">
									<li>Minimum 4 Years</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr />

		<h3 class="prod_head roboto-l">Apply For Job</h3>
		<div class="divider"></div>
		<br />

		<div class="career-form gotham">
				<form action="mail-career.php" method="post" enctype="multipart/form-data">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" class="career_input" placeholder="Full Name" name="fname" required>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="email" class="career_input" placeholder="Email ID" name="email" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<input type="text" placeholder="Phone" title="Please enter only digits" name="phone" class="career_input" required>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<select class="career_input" name="pos">
								<option value="Business Developement Executive" selected hidden>--Select Job Position--</option>
								<option value="Business Developement Executive">Business Developement Executive</option>
								<option value="Area Sales Manager">Area Sales Manager</option>
								<option value="International Sales Executive">International Sales Executive</option>
								<option value="Export Sales Manager">Export Sales Manager</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<textarea class="career_input" placeholder="Tell us anything you want to share" rows="3" name="message"></textarea>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
						
						<!--<label class="custom-file-upload">
							<input type="file" name="resume" id="resume"/>
							Custom Upload
						</label>-->
						
						<div class="">
							<input type="file" name="resume" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf" />
							<label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Upload resume&hellip;</span></label>
						</div>
						
						<!--<label for="file-upload" class="custom-file-upload">
							Custom Upload
						</label>
						<input type="file" name="resume" id="resume">-->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<button type="submit">Apply</button>
						</div>
					</div>
					
				</form>
			</div>

	</div>
</div>



<script>

</script>
