<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Media</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l">Media</li>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="exhibition" class="section">
	<div class="container">
		<h3 class="prod_head roboto-l">Exhibition</h3>
        <div class="divider"></div>
        <br /> 

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/21272548_204534840084166_4910866464454308612_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/21272548_204534840084166_4910866464454308612_n.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/23472168_228435401027443_3320242095956676369_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/23472168_228435401027443_3320242095956676369_n2.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/25289441_239299006607749_4401242947149458493_n2.jpg" class="swipebox">
                    <img src="assets/images/exhibition/25289441_239299006607749_4401242947149458493_n2.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/23517557_228435317694118_5507370730758417474_n2.jpg" class="swipebox">
                    <img src="assets/images/exhibition/23517557_228435317694118_5507370730758417474_n2.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/23844464_231919537345696_8257448605062076753_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/23844464_231919537345696_8257448605062076753_n.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/25348543_239298879941095_369297169175303483_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/25348543_239298879941095_369297169175303483_n.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/25396140_239298813274435_2876520072592843934_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/25396140_239298813274435_2876520072592843934_n.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/25442759_239298959941087_845463875806470317_n.jpg" class="swipebox">
                    <img src="assets/images/exhibition/25442759_239298959941087_845463875806470317_n.jpg" class="img-responsive" style="height:250px;width:100%" alt="Awards" /><br />
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="assets/images/exhibition/4.jpg" class="swipebox">
                    <img src="assets/images/exhibition/4s.jpg" class="img-responsive" alt="Awards" /><br />
                </a>
            </div>
                    </div>


	</div>
</div>

<!--<div id="merger-acquisition" class="section">
	<div class="container">
		<h3 class="prod_head roboto-l">Merger and Acquisition</h3>
        <div class="divider"></div>    25289441_239299006607749_4401242947149458493_n.jpg
        <br />       
	</div>
</div>

<div id="blogs" class="section">
	<div class="container">
		<h3 class="prod_head roboto-l">Blogs</h3>
        <div class="divider"></div>
        <br />       
	</div>
</div>-->

<div id="video" class="section">
	<div class="container">
		<h3 class="prod_head roboto-l">Company's Video</h3>
        <div class="divider"></div>
        <br />       <br />       
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <object width="100%" height="297">
                  <param value="http://www.youtube.com/v/W4vSYdlF8_0&showsearch=0&rel=0&fs=1&autoplay=0&amp;ap=%2526fmt%3D18" name="movie" />
                  <param value="window" name="wmode" />
                  <param value="true" name="allowFullScreen" />
                  <embed width="475" height="297" wmode="window" allowfullscreen="true" type="application/x-shockwave-flash" src="http://www.youtube.com/v/W4vSYdlF8_0&showsearch=0&fs=1&rel=0&autoplay=0&amp;ap=%2526fmt%3D18" />
                </object>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
            <object width="100%" height="297"><param value="https://www.youtube.com/embed/N7ipcvEcui0" name="movie" /><param value="window" name="wmode" /><param value="true" name="allowFullScreen" /><embed width="475" height="297" wmode="window" allowfullscreen="true" type="application/x-shockwave-flash" src="http://www.youtube.com/v/W4vSYdlF8_0&showsearch=0&fs=1&rel=0&autoplay=0&amp;ap=%2526fmt%3D18" /></object>
	    
        </div>
                
        </div>
	</div>
</div>
