<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4 class="roboto footer_head">INFORMATION</h4>
                <div class="footer_links">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 col-lg-5 lato-l">
                            <ul>
                                <li><a routerLink="/home">Home</a></li>                    
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/products">Products</a></li>
                                
                                <li><a routerLink="/infrastructure-and-facilities">Infrastructure & Facilities</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 lato-l">
                            <ul>
                                <li><a routerLink="/media">Media</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a routerLink="/careers">Careers</a></li>
                                <li><a routerLink="/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>     
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4 class="roboto footer_head">CONTACT US</h4>
                <div class="footer_links">
                    <p class="roboto">IRIS POLYMERS INDUSTRIES PVT LTD</p>    
                    <p class="roboto-l">S. No. 36, Mantarwadi, Uruli Devachi, Near D Laval Company, Pune - 412308, Maharashtra, India    </p>
                    <p class="roboto-l "><b>Phone</b> : +(91)-8983059491</p>    
                    <p class="roboto-l "><b>Email</b> : marketing@irisgroup.co.in / sales@irisgroup.co.in / export@irisgroup.co.in</p>    
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4 class="arvo footer_head">SOCIAL</h4>
                <!--<div class="footer_links">
                    <p class="lato-l">If you want receive our all weekly updates about new offers and discount, signup below.</p>
                </div>
                <div class="footer_email">
                    <input type="email" placeholder="Email id here..." class="foot_input">
                    <button type="submit" class="foot_btn"><img src="images/submit.png"></button>
                </div><br>-->
                <div class="footer_social">
                    <li><a href="https://www.facebook.com/IRIS-Polymers-166536723883978/?ref=bookmarks" target="_blank"><img src="assets/images/fb.png" class="img-responsive"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCUWqspCY-G_mNzAqYajp0CA/videos" target="_blank"><img src="assets/images/yt.png" class="img-responsive"></a></li>
                    <li><a href="https://www.linkedin.com/company-beta/13372194/" target="_blank"><img src="assets/images/in.png" class="img-responsive"></a></li>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <p class="roboto-l text-center copy">© 2017 Iris Polymers. ALL RIGHTS RESERVED.</p>
</div>