<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Contact Us</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l">Contact Us</li>
                </div>
            </div>
        </div>
    </div> 
</div>


<div class="contact_us section">
    <div class="container">
        <h3 class="roboto-l">Business Enquiry Form</h3>
        <!--<div class="row roboto">
            <form action="contact-mail.php" method="POST">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <textarea placeholder="Describe Your Requirements in Detail:" rows="5" class="contact_form" name="message"></textarea>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" placeholder="Full Name" class="contact_form" name="name"/>
                    <input type="text" placeholder="Mobile No." class="contact_form m_20" name="contact"/>
                    <button type="submit" class="contact_form_btn m_20">SEND ENQUIRY</button>
                </div>
            </form>
        </div>-->
        <div class="row roboto">
            <form action="request-mail.php" method="POST">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" placeholder="Full Name" class="contact_form" name="name" required="required"/>
                    <input type="email" placeholder="Email" class="contact_form m_20" name="email" required="required"/>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <input type="text" placeholder="Mobile No." class="contact_form" pattern="[0-9]{10}" maxlength="10" title="Please enter 10 digit number" name="contact" required="required"/>
                    <select class="contact_form m_20" style="height: 56px;" name="product_name">
                        <option selected hidden>Select Product</option>
                        <option value="Silage Films">Silage Films</option>
                        <option value="Mulch Films">Mulch Films</option>
                        <option value="Shrink Films">Shrink Films</option>
                        <option value="Plant Protection Cover">Plant Protection Cover</option>
                        <option value="Low Tunnel Film">Low Tunnel Film</option>
                        <option value="Stretch Films">Stretch Films</option>
                        <option value="Yellow Black Mulching Films">Yellow Black Mulching Films</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <textarea placeholder="Describe Your Requirements in Detail:" rows="3" class="contact_form m_20" name="message" style="height:130px"></textarea>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="contact_form_btn m_20">SEND ENQUIRY</button>
                </div>
            </form>
        </div>
        <br /><br />
        <div class="row roboto">
            <div class="col-sm-5 col-md-5 col-lg-5">
                    <h3 class="addr_head roboto">IRIS POLYMERS INDUSTRIES PVT LTD</h3>
                    <!--<div class="addr_list">
                        <img src="images/user.png" class="img-responsive" alt="user" />
                        <p class="roboto-l"><b>Nandini Ganvir</b><br />(Business Development Manager)</p>
                    </div>-->
                    <h3 class="addr_head roboto">Addresses</h3>
                    <div class="addr_list">
                        <p class="roboto-l"><b>Registered Office</b></p>
                        <img src="assets/images/map-marker.png" class="img-responsive" alt="map" />
                        <p class="roboto-l" style="margin-top:-15px;">S. No. 36, Mantarwadi, Uruli Devachi, <br />Near D Laval Company  <br />Pune - 412308, Maharashtra, India</p>
                    </div>
                    <div class="addr_list">
                        <p class="roboto-l"><b>Corporate Office</b></p>
                        <img src="assets/images/map-marker.png" class="img-responsive" alt="map" />
                        <p class="roboto-l" style="margin-top:-15px;"> Office-424 , 4th floor Amanora Chembers , Amanora Park Town ,Pune-411028, Maharashtra India</p>
                    </div>
                    <div class="addr_list">
                        <p class="roboto-l"><b>Branch Office</b></p>
                        <img src="assets/images/map-marker.png" class="img-responsive" alt="map" />
                        <p class="roboto-l" style="margin-top:-15px;">Ho . No . 4/4471 vibhav khand , Gomti Nagar ,<br /> Lucknow , Uttar pradesh - 226010</p>
                    </div>
                    <div class="addr_list">
                        <img src="assets/images/mobile.png" class="img-responsive" alt="mobile" />
                        <p class="roboto-l">+(91) - 7679909090 </p>
                    </div>
                    <div class="addr_list">
                        <img src="assets/images/phone.png" class="img-responsive" alt="phone" />
                        <p class="roboto-l"> +(91)-8983059491</p>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="add_contact position_relative">
                        <div class="add_contact_head">
                            <p class="roboto-l">Additional Contact</p>
                           </div> 
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6  m_10 pf_40">
                                    <p class="add_con_text  m_30"><b>Logistic Department :<br /></b>
                                    Email: <a href="mailto:logistics@irisgroup.co.in">logistics@irisgroup.co.in</a>
                                    </p>
                                </div> 
                                <div class="col-sm-6 col-md-6 col-lg-6 m_10 pf_40">
                                    <p class="add_con_text  m_30"><b>Export Department :</b> <br />
                                    Email: <a href="mailto:export@irisgroup.co.in">export@irisgroup.co.in</a></p>
                                </div> 
                            </div>
                            <!--<div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 border_r pf_40">
                                    <p class="add_con_text  m_30"><b>Logistics Department :</b> <br />Contact Person:Mr.Tanaji Memane  <br />Mobile : +(91) - 9921932191</p>
                                </div> 
                                <div class="col-sm-6 col-md-6 col-lg-6 pf_40">
                                    <p class="add_con_text  m_30"><b>For Export :</b> <br />Contact Person:Mr.Harshwardhan Kolte <br />Mobile : +(91) - 7028990404</p>
                                </div> 
                            </div>-->
                        
                    </div>
                </div>
        </div>
               <div class="clearfix"></div> <br /><br />
                <div class="roboto">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            <iframe id="map_frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.7758537299587!2d73.76447351489566!3d18.718850687293862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b6c346cf63eb%3A0x2694be217daff666!2sIris+Polymers!5e0!3m2!1sen!2sin!4v1452679587667" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            
                            <iframe
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJR7wrdYrBwjsRcrzJNCceQMQ&key=AIzaSyBzNd0xw3l-C5tKGjINintX0PDp9PesKqU"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.310573886895!2d81.02097406508254!3d26.861872051750428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be2f2c7a6c903%3A0xfbaa3b2423051d12!2sVibhav+Khand+Park!5e0!3m2!1sen!2sin!4v1509084806360" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                

    </div>
</div>

