<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Profile</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l">Profile</li>
                </div>
            </div>
        </div>
    </div> 
</div>

<div id="corporate-philosophy">
    <div class="section">
        <div class="container">
            <h3 class="prod_head roboto-l">Corporate Philosophy</h3>
            <div class="divider"></div>
            <br />       
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="profile_text">
                        <p class="roboto-l"><b>Iris Polymers is the leading company in the industry of agricultural and packaging films. </b> Iris Polymers a renowned leader in manufacturing and exporting a wide stock of films that include UV Stabilized Green House Covering, Low Tunnel Films, Mulch Films, Silage film, Lamination Film, Shrink Films, Drainage Sheets, Pond Canal Reservoir Lining For Agriculture and Plant Protection Cover.</p>
                        
                        <p class="roboto-l">We are successfully catering to the diverse requirements of packaging and crop protection. The entire product line is widely acknowledged for its high clarity, excellent strength and moisture barrier properties. Our products are developed with special grade materials to meet the packaging needs of food, chemical, garments, engineering and other industries, these are also customized based on the specific requirements of clients.</p>


                        <p class="roboto-l">Iris Polymers has witnessed a remarkable growth in the industry under the guidance of our founders, <b>'Mr. Arun Awatade'</b> and <b>'Mr. Ganesh Lavand'</b> They have immense domain knowledge and vast experience in this industry that has helped us in acquiring huge market Worldwide. We are a leading player in the industry. We are working with a prime goal of delivering high end quality products to our client base at the most affordable price range.</p>

                        <!--<p class="roboto-l">In just a short span of time, we have marked a reputed niche market across the industry with our commitment to quality and continuous improvisation. Boosting off our advanced infrastructure and facilities i.e. widespread across 2,000 square meters at Pune. We are successfully meeting the bulk orders of our clients on time with uncompromised quality. For this, we have also appointed an experiences team of professionals who have intensive knowledge in their respective domains.</p>

                        <p class="roboto-l">It is our great pleasure to introduce us as leading manufacturer, exporter, supplier of mulching films, agricultural films and industrial packaging films. Iris is an indian company based in Pune, Maharashtra. We manufacture plastic mulch films for domestic and global market to meet specific requirements of the customers. Iris Polymers is not only a company but also a client satisfaction house. Iris is fore runner in this industry. Today the company has maintain the trust leading position in this industry. We try to give our best.</p>-->
                    </div>
                </div>
                <!--<div class="col-sm-3 col-md-3 col-lg-3">
                    <img src="images/profile2.jpg" class="img-responsive" alt="Profile" /><br />
                    <img src="images/profile1.jpg" class="img-responsive" alt="Profile" />
                </div>
                <div class="col-md-12">
                    <div class="profile_text">
                        <p class="roboto-l">It is our great pleasure to introduce us as leading manufacturer, exporter, supplier of mulching films, agricultural films and industrial packaging films. Iris is an indian company based in Pune, Maharashtra. We manufacture plastic mulch films for domestic and global market to meet specific requirements of the customers. Iris Polymers is not only a company but also a client satisfaction house. Iris is fore runner in this industry. Today the company has maintain the trust leading position in this industry. We try to give our best.</p>
                    </div>
                </div>-->
                <div class="clearfix"></div><br /><br /><br />
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="vision_grid">
                        <div class="mis_img_grid">
                            <img src="assets/images/target.png" class="img-responsive mis_img" />
                        </div>
                        <h3 class="roboto">Mission</h3>
                        <p class="roboto"> Mind Enriched Farmers</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="vision_grid">
                        <div class="mis_img_grid">
                            <img src="assets/images/vision.png" class="img-responsive mis_img" />
                        </div>
                        <h3 class="roboto">Vision</h3>
                        <p class="roboto">Our Vision is to keep  Farmers , Farms & Food Healthy</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="awards">
    <div class="awards section">
        <div class="container">
            <h3 class="prod_head roboto-l">Awards & Recognition (JRD award)</h3>
            <div class="divider"></div>
            <br />
            <div class="profile_text">
                <p class="robot-l">(Youngs Enterpreneur Awards - 2016)</p>
            </div><br />
            
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="assets/images/award1.png" class="swipebox">
                        <img src="assets/images/award1.png" class="img-responsive" alt="Awards" /><br />
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="assets/images/award2.png" class="swipebox">
                        <img src="assets/images/award2.png" class="img-responsive" alt="Awards" /><br />
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="assets/images/award3.png" class="swipebox">
                        <img src="assets/images/award3.png" class="img-responsive" alt="Awards" /><br />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our-team">
    <div class="section">
        <div class="container">
            <h3 class="prod_head roboto-l">Our Team</h3>
            <div class="divider"></div>
            <br />
            <div class="profile_text">
                <p class="robot-l">We have wisely appointed a complete team of experts who are highly experienced in their respective domain of a Business Enterprise, HR, Finance, Export, Research and Development, Sales and Marketing and Supply Chain. The success and growth of the organization depends on the team. Hence, we make sure to give regular trainings and updates on latest development in the industry. Our team is very well specialized in fulfilling the requirements of clients. In addition to this, the team has quality experts, who strictly inspect our products on various standard parameters.</p>
            </div><br />
            <div class="parameters">
                <h3 class="roboto-l">We are backed with the support of a professional team comprising of</h3>
                
                <!--<div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Production engineers</p>
                        <p class="para_list m_20"><i class="fa fa-circle"></i> HR officials</p>
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Procurement agents</p>
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Research and development professionals</p>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-">
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Sales and marketing personnel</p>
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Skilled labor</p>
                        <p class="para_list m_20"><i class="fa fa-circle"></i> Quality auditors</p>
                    </div>
                </div>-->


                <ul class="bullet_pt roboto">
                    <li>Production engineers</li>
                    <li>Marketing and Sales Personnel</li>
                    <li>Accounts and Finance Department</li>
                    <li>Research and development professionals</li>
                    <li>Human Resources Department</li>
                    <li>Logistics and Supply Chain Management</li>
                    <li>IT team</li>
                    <li>Quality auditors</li>
                    <li>Export Personnel</li>
                </ul>


            </div>
            <br><br>
            <h3 class="prod_head roboto-l">Director's Speech</h3>
            <div class="divider"></div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="di_speech">
                        <img src="assets/images/profile3.jpg" class="img-responsive img-rounded direct_img">
                        <h3 class="roboto">Mr. Arun Awatade</h3>
                        <p class="roboto">Iris Polymers is on the path of success since its inception. When we started, we have only focused on quality. We have progressed exponentially in these coming years to be among the leading manufacturer of Agriculture and Industrial packaging films. We adhere to our commitment to produce quality product and supply in time. We believe in utilizing latest technology to maintain the consistency and accuracy of the forged products. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="di_speech">
                        <img src="assets/images/profile2.jpg" class="img-responsive img-rounded direct_img">
                        <h3 class="roboto">Mr. Ganesh Lavand</h3>
                        <p class="roboto">In just a short span of time, we have marked a reputed niche market across the industry with our commitment to quality and continuous improvisation. For this, we have also appointed an experienced team of professionals who have intensive knowledge in their respective domains.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="section">
    <div class="container">
        <h3 class="prod_head roboto-l">Why Us</h3>
        <div class="divider"></div>
        <br />
        <div class="profile_text">
            <p class="robot-l">Right from our establishment, we have been successfully acknowledge by various industries. We make sure to stringently follow the industrial guidelines while manufacturing the products, in order to achieve utmost customer satisfaction. We believe in continuous improvisation of our product line and this gives us a winning edge over other companies in market.</p>
        </div><br />
        <div class="parameters">
            <h3 class="roboto-l">The prime reasons behind our success store are as follows</h3>
            
            <!--<div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <p class="para_list m_20"><i class="fa fa-circle"></i> High standard of quality in products</p>
                    <p class="para_list m_20"><i class="fa fa-circle"></i> Advanced facilities of product manufacturing</p>
                    <p class="para_list m_20"><i class="fa fa-circle"></i> Customized solution as per the requirements of clients</p>
                    <p class="para_list m_20"><i class="fa fa-circle"></i> Easy payment options</p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-">
                    <p class="para_list m_20"><i class="fa fa-circle"></i> On time delivery of bulk orders</p>
                    <p class="para_list m_20"><i class="fa fa-circle"></i> Team with years of experience in the domain</p>
                    <p class="para_list m_20"><i class="fa fa-circle"></i> Ethical business practices</p>
                </div>
            </div>-->

            <ul class="bullet_pt roboto">
                <li>High standard of quality in products</li>
                <li>Advanced facilities of product manufacturing</li>
                <li>Customized solution as per the requirements</li>
                <li>On time delivery </li>
                <li>Expert, Committed and Highly Motivated Team</li>
                <li>Ethical business practices</li>
            </ul>
        </div>
    </div>
</div>



