<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Silver black mulch films</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l"><a routerLink="/products">Products</a></li>
                    <li>/</li>
                    <li class="roboto-l"><a routerLinks="/products/mulch-films">Mulch Films</a></li>
                    <li>/</li>
                    <li class="roboto-l">Silver Black Mulch Films</li>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="inner_product_img">
                    <img src="assets/images/products/silver-black-bg.jpg" class="img-responsive" alt="Silver black mulch films" />
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="inner_product_text">
                    <p class="roboto">
                        Silver Black Mulch Film is widely used in agriculture industry as a protection cover over the soil. Its primary reason for use is to modify the effect of the local climate. The use of plastic mulch in the film greatly affects the light and its impact on the crop development as it is responsible for creating both, heat and color. With the use of this mulch film, the soil under remains loose and well aerated, thus reducing the need of compaction.
                    </p>
                    <h3 class="roboto  features">Features</h3>
                    <ul class="roboto feature_ul">
                        <li>Smooth finishing</li>
                        <li>Tear resistance</li>
                        <li>Transparent</li>
                        <li>Protective layer on soil</li>
                        <li>Chemical resistance</li>
                        <li>Modify the effect of local climate</li>
                        <li>Reduces irrigation frequency</li>
                        <li>Blocks the photosynthesis light, thus preventing the growth of weeds</li>
                    </ul>
                </div>
            </div>
        </div><br />

        <h3 class="roboto  features">USE</h3>
        <div class="border"></div>
        <div class="row p_10">
            <div class="col-sm-4 col-md-4 col-lg-4 border_right">
                <ul class="roboto feature_ul m_5">
                    <li>Modify the effect of the local climate</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 border_right">
                <ul class="roboto feature_ul m_5">
                    <li>Raise the temperature of the soil in planting bed</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <ul class="roboto feature_ul m_5">
                    <li>Promotes faster crop development</li>
                </ul>
            </div>
        </div>
        <div class="border"></div>
        <br />
        <h3 class="roboto  features">APPLICATION</h3>
        <div class="border"></div>
        <ul class="roboto feature_ul m_5">
            <li>Agricultural farms</li>
        </ul>

        <h3 class="roboto  features">MOQ - 2000 METERS</h3>
    </div>
</div>
