<div class="repeat_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="page_head">
                    <h3 class="roboto">Products</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bread-list ubuntu-r">
                    <li class="roboto-l"><a routerLink="/home">Home</a></li>
                    <li>/</li>
                    <li class="roboto-l">Products</li>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="container section">
	<div class="container">    

		<h3 class="prod_head roboto-l">With our products, we are successfully catering to the wide requirements of agriculture and many other industries. </h3>
		<div class="divider"></div>
		<br />
		<p class="roboto-l prod_head_desc">In our stock, we have varied types of films for agricultural use and for packaging purpose. Coming to agricultural protection films, these are specifically developed for assisting in faster growth of crops by controlling weed, locking moisture, reducing water evaporation and raising the temperature of soil.</p>
		<p class="roboto-l prod_head_desc">These films are made by special grade of plastic that has an excellent capability of manipulating light, temperature and moisture for development of crops. In addition to this, we are also specialized in packaging films that ensure aroma and moisture retention property in food & beverage items. Also, we have packaging films for bulk and heavy items.</p>

		<div class="row row-flex">
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/mulch_film.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Mulch Films</h5>
                        <p class="roboto-l">Mulch Films are a revolution in the agriculture industry as it presents an economical and environment friendly...</p>
                        <a routerLink="/mulch-films">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/shrink_film.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Shrink Film</h5>
                        <p class="roboto-l">Our extensive range of Shrink Film presents an economical and excellent solution for packaging in various industries...</p>
                        <a href="shrink-films.php">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/plant_protection.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Plant Protection Cover</h5>
                        <p class="roboto-l">Our range of Plant Protection Cover is suitable for outdoor use such as in gardens and agricultural farms. These are...</p>
                        <a href="plant-protection-cover.php">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	    </div>    
		<div class="row row-flex">
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/low_tunnel_film.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Low Tunnel Film</h5>
                        <p class="roboto-l">Putting forward the immense and vast experience among our clients, we are presenting the Low Tunnel Film. It is well...</p>
                        <a href="low-tunnel-film.php">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/stretch_film.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Stretch Film</h5>
                        <p class="roboto-l">Stretch Film offered by our company is known for its effective use in various industries. We are elated to...</p>
                        <a href="stretch-films.php">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	        <div class="col-sm-4 col-md-4 col-lg-4">
	        	<div class="product_list">
	        		<div class="product_img">
		        		<img src="assets/images/products/yellow_black.jpg" class="img-responsive" alt="Mulch Films" />
		        		<div class="img_overlay">
		        			<i class="fa fa-link"></i>
		        		</div>
		        	</div>
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Silage Film</h5>
                        <p class="roboto-l">Silage film is an agricultural film used in farm for protection and storage of silage here.....</p>
                        <a href="yellow-black-mulching-film.php">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>

<div class="tell_us_bg text-center">
 	<div class="parent">
        <div class="child">
        	<div class="tell_text">
        		<h3 class="roboto-l">Tell us what you are looking for?</h3>
        		<a routerLink="/contact-us">Contact Us</a>
        	</div>
        </div>
    </div>
</div>
