<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators 
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

  <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active" style="background-image:url(assets/images/banner1.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;">
           </div>

        <div class="item" style="background-image:url(assets/images/banner2.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;"></div>

        <div class="item" style="background-image:url(assets/images/banner3.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;"></div>

        <div class="item" style="background-image:url(assets/images/banner4.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;"></div>

        <div class="item" style="background-image:url(assets/images/banner5.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;">

        <div class="item" style="background-image:url(assets/images/banner6.jpg);height:445px;width:100%;background-size:cover;backgound-position:center;">
            
        </div>
  </div>
    <div class="parent">
        <div class="child">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6"></div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="banner_text position_relative">
                            <p class="roboto-m">We are leading manufacture and exporter of agriculture film & industrial packaging film</p>
                            <div class="custom_control">
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <img src="assets/images/slider_left.jpg" class="img-responsive " alt="Request" />
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <img src="assets/images/slider_right.jpg" class="img-responsive " alt="Request" />
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Left and right controls -->  
</div>


<div class="idnex_about">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="welcome">
                    <h5 class="roboto-l">Welcome to <span>Iris Polymers</span></h5>
                    <div class="divider"></div>
                    
                    <p class="roboto big_text">Iris Polymers is the leading company in the industry of agricultural and packaging films </p>
                    <p class="roboto-l small_text">Iris Polymers Private Ltd manufactures a wide range of Mulching films like UV Stabilized Green House Covering, Low Tunnel Films, Mulch Films, Lamination Film, Shrink Films, Drainage Sheets and Pond Canal Reservoir Lining for Agriculture and Plant Protection Cover. The Company has a pan-India presence through all major states in India, Head office located at Pune. With a network of more than 1000 distributors / dealers across India and reaching out to more & more farmers.  Our company a renowned leader in manufacturing and exporting a wide stock of films. The Company has presence with Italy, Spain, Ukraine & Tanzania, etc.</p>
                    <p class="roboto-l small_text">IRIS Polymers target customers are primary farmers. The Company keeps adding new products every year through its collaborations and is continuously on the lookout to bring the latest technology to Indian Farmers</p>
                    
                </div>
            </div>
            <!--<div class="col-sm-1 col-md-1 col-lg-1"></div>-->
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="three_tags">
                    <div class="inner_tags">
                        <img src="assets/images/professsional.png" class="img-responsive" alt="Professional" />
                        <h5 class="roboto-m">We are Professional </h5>
                        <p class="roboto">We’re a team of experts in agriculture, agri-business, manufacturing and finance. Each of us from the core team comes with a vast experience and knowledge in the respective domain. </p>
                    </div>
                    <div class="inner_tags">
                        <img src="assets/images/trusted.png" class="img-responsive" alt="Trusted" />
                        <h5 class="roboto-m">We are Trusted </h5>
                        <p class="roboto">Our customers trust us for our quality and after-sales services. We are proud to listen to farmers who say, “I need Iris mulching”, instead of asking for “mulching”. </p>
                    </div>
                    <div class="inner_tags">
                        <img src="assets/images/expert.png" class="img-responsive" alt="Expert" />
                        <h5 class="roboto-m">We are Expert </h5>
                        <p class="roboto">Expertise builds over a time with consistent performance and application of skills and knowledge. Our team has built expertise over the years to enable the company to add more and more value to our customers. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div><br /><br />    

<div class="index_product section">
    <div class="container">
        <h3 class="roboto index_header">Our Products</h3>
        <div class="divider"></div>
        <br />
        <div class="row row-flex">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="inner_index_product">
                    <img src="assets/images/mulch_films.jpg" class="img-responsive" alt="Mulch Films" />
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Mulch Films</h5>
                        <p class="roboto-l">Mulch Films are a revolution in the agriculture industry as it presents an economical and environment friendly protective solution for crops and soil....</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="inner_index_product">
                    <img src="assets/images/shrink_film.jpg" class="img-responsive" alt="Shrink Film" />
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Shrink Film</h5>
                        <p class="roboto-l">Our extensive range of Shrink Film presents an economical and excellent solution for packaging in various industries....</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="inner_index_product">
                    <img src="assets/images/plant_protection.jpg" class="img-responsive" alt="Plant Protection Cover" />
                    <div class="inner_index_product_text">
                        <h5 class="roboto">Plant Protection Cover</h5>
                        <p class="roboto-l">Our range of Plant Protection Cover is suitable for outdoor use such as in gardens and agricultural farms....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="client_satisfaction section">
     <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h3 class="roboto index_header">Client Satisfaction</h3>
                <img src="images/snake_divider.png" class="img-responsive" alt="Divider" />
                <br />

                <div class="client_satis_text">
                    <p class="roboto-l">With our domain expertise and help of cutting-edge technology, we have gained utmost client satisfaction. Further, our commitment towards quality, cost effective prices and timely delivery of orders have helped us in gaining trust and confidence of the clients. Supported by a team of skilled professionals, we are also capable of meeting customized requirements of clients in multitude of industries. </p>
                    <p class="roboto-l">Large production capacity of our unit enables us in executing bulk orders of client’s without compromising the quality. Owing to our ethical business practices and easy payment options like cash and DD, we have garnered unending list of clients across PAN India.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="abt_testimonial">
                    <img src="images/qoute.png" class="img-responsive qou">

                    <div class="clientsSection">
                        <div class="owl-carousel clients-carousel owl-theme">
                            <div class="item abt_test_text">
                                <p class="lato-r">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img src="images/test_img.jpg" class="img-responsive" alt="image" />
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <p class="lato-r m_10 test_name"><b>John Smith</b>,<br /> CEO The Company</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item abt_test_text">
                                <p class="lato-r">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img src="images/test_img.jpg" class="img-responsive" alt="image" />
                                    </div>
                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                        <p class="lato-r m_10 test_name"><b>John Smith</b>,<br /> CEO The Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>-->

<div class="why_best section">
    <div class="container text-center">
        <h3 class="prod_head roboto-l" style="color:#000">Core Values Of  Iris Polymers</h3>
        
        <br /><br />
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 pad_right">
                <div class="why_best_list ">
                    <img normal-src="assets/images/integrity_b.png" white-src="assets/images/integrity_w.png" src="assets/images/integrity_b.png" class="checkSrc" alt="17 Years Of Experience"/>
                    <p class="roboto-r">Integrity</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 zero_pad">
                <div class="why_best_list ">
                    <img normal-src="assets/images/do_more_b.png" white-src="assets/images/do_more_w.png" src="assets/images/do_more_b.png" class="checkSrc" alt="Best Quality"/>
                    <p class="roboto-r">Do more with less</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 pad_left">
                <div class="why_best_list ">
                    <img normal-src="assets/images/team_b.png" white-src="assets/images/team_w.png" src="assets/images/team_b.png" class="checkSrc" alt="Exclusive Partnership"/>
                    <p class="roboto-r">Team work</p>
                </div>
            </div>
        </div>
        <div class="row pad_5">
            <div class="col-sm-4 col-md-4 col-lg-4 pad_right">
                <div class="why_best_list ">
                    <img normal-src="assets/images/opportunity_b.png" white-src="assets/images/opportunity_w.png" src="assets/images/opportunity_b.png" class="checkSrc" alt="Business Opportunities"/>
                    <p class="roboto-r"> Customer happiness</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 zero_pad">
                <div class="why_best_list ">
                    <img normal-src="assets/images/designer_b.png" white-src="assets/images/designer_w.png" src="assets/images/designer_b.png" class="checkSrc" alt="Innovative Designers"/>
                    <p class="roboto-r">Innovative Designers</p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 pad_left">
                <div class="why_best_list ">
                    <img normal-src="assets/images/improve_b.png" white-src="assets/images/improve_w.png" src="assets/images/improve_b.png" class=" checkSrc" alt="Exclusive Partnership"/>
                    <p class="roboto-r">Continuous Improvement</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter_bg section">
    <div class="container  text-center">    
        <div class="row text-center">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="assets/images/proj_complete.png" class="img-responsive counter_img" alt="Project Completed" /><br /><br />
                <div id="counter">
                    <div class="Count arvo">2345</div><span class="other_span"> +</span>
                </div>
                <p class="roboto-l counter_text">Project Completed</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="assets/images/team_strength.png" class="img-responsive counter_img" alt="Team Strength" /><br /><br />
                <div id="counter">
                    <div class="Count arvo">150</div><span class="other_span"> +</span>
                </div>
                <p class="roboto-l counter_text">Team Strength</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="assets/images/awards.png" class="img-responsive counter_img" alt="Awards" /><br /><br />
                <div id="counter">
                    <div class="Count arvo">15</div><span class="other_span"> +</span>
                </div>
                <p class="roboto-l counter_text">Winning Awards</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="assets/images/concepts.png" class="img-responsive counter_img" alt="Concepts" /><br /><br />
                <div id="counter">
                    <div class="Count arvo">215</div><span class="other_span"> +</span>
                </div>
                <p class="roboto-l counter_text">Innovative Concepts</p>
            </div>
        </div>   
    </div>
</div>

